.loader2 {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#ball1,
#ball2,
#ball3 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid white;
}

#ball1 {  
    background-color: red;
}

#ball2 {
    background-color: blue;
}
#ball3 {
    background-color: green;
}